.erro-mensagem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  gap: 0.3rem;
}

.erro-mensagem img {
  width: 150px;
  height: auto;
}

.erro-mensagem h1 {
  color: var(--c-pink);
  font: var(--f-subtitle);
}

.erro-mensagem p {
  color: var(--c-gray);
  font: var(--f-main-txt);
}