main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 4rem;
    align-items: center;
    margin: 0 auto;
}

.search {

    position: sticky;
    padding: 10px 0;
    top: 0;
    height: fit-content;
    background: var(--c-white);
    z-index: 10;
    width: 100%;

}

.gallery {
    flex: 1;
}