<main class="container">
  <div class="section-name">
    <h1>Como eternizar flores</h1>
    <h2>Em apenas três passos</h2>
  </div>

  <div class="timeline">
    <div class="step">
      <div class="step-img">
        <img src="./images/preparacao.png" alt="Preparação">
      </div>
      <div class="step-number">1</div>
      <h3 class="step-title">Preparação</h3>
      <p class="step-text">Desmonte o buquê e separe as pétalas ou raminhos.</p>
    </div>

    <div class="step">
      <div class="step-img">
        <img src="./images/secagem.png" alt="Secagem">
      </div>
      <div class="step-number">2</div>
      <h3 class="step-title">Secagem</h3>
      <p class="step-text">Coloque-as entre as páginas de um livro pesado, intercalando com papel toalha ou papel manteiga para absorver a umidade.</p>
    </div>

    <div class="step">
      <div class="step-img">
        <img src="./images/final.png" alt="Final">
      </div>
      <div class="step-number">3</div>
      <h3 class="step-title">Final</h3>
      <p class="step-text">Empilhe mais livros por cima e aguarde de 2 a 4 semanas.</p>
    </div>
  </div>
</main>
