footer {
    width: 100%;
    min-height: 300px;
    display: grid;
    margin-bottom: 2rem;    
    grid-template-areas:
        "line line line"
        "flor meio links"
        "flor foot socials";

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1px 1fr auto;
    box-sizing: border-box;
}

.line {
    grid-area: line;
    height: 1px;
    background: var(--c-light-pink);
    width: 80%;
    display: flex;
    justify-self: end;
}

.flor {
    grid-area: flor;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
}

.flor img {
    width: 180px;
    height: auto;
}

.info-logo {
    grid-area: meio;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-logo > img {
    width: 220px;
    filter: var(--filter-pink);
}

.foot-text {
    grid-area: foot;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
}

.foot-text h6 {
    font: var(--f-main-txt);
    margin: 0;
}

.links {
    grid-area: links;
    display: flex;
    gap: 2.5rem;
    font: var(--f-main-txt);
    justify-self: end; 
    align-self: center;
}

.links h4 {
    color: var(--c-pink);
    margin-bottom: 10px;
}

.links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.links li {
    margin: 10px 0;
    color: var(--c-gray);
}

.socials {
    grid-area: socials;
    display: flex;
    gap: 1rem;
    justify-self: end; 
    align-items: center;
    margin-top: 1.5rem;
}

.socials svg {
  color: var(--c-pink);
  fill: currentColor;
}

.socials svg[stroke="currentColor"] {
  fill: none; 
}