footer {
  width: 100vw;
  min-height: 300px;
  margin: 0 auto;
  max-width: 1200px;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.flor {
  display: flex;
}

.flor img {
  width: 180px;
  height: auto;
}

.line {
  height: 1px;
  background: var(--c-light-pink);
  width: 100%;
  display: flex;
  justify-self: end;
}

.geral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info .logo {
  display: flex;
  justify-content: flex-start;
}

.info .logo img {
  width: 220px;
  filter: var(--filter-pink);
  justify-self: flex-start;
}

.info .links {
  display: flex;
  gap: 2rem;
}

.links h4 {
  color: var(--c-pink);
  font: var(--f-subtitle);
}

.links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.links li {
  margin: 10px 0;
  color: var(--c-gray);
  font: var(--f-main-txt);
}

.geral .foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foot .socials {
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.socials svg {
  color: var(--c-pink);
  fill: currentColor;
}

.socials svg[stroke="currentColor"] {
  fill: none;
}

.text h6 {
  font: var(--f-footer);
  color: var(--c-gray);
}

@media (max-width: 1220px) {
  footer {
    padding: 0 4rem;
  }
}
 
@media (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
  }

  footer .line {
    margin-bottom: 0;
    align-self: center;
    width: 100%;
  }

  .info {
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;
  }

  .info .links {
    gap: 5rem;
  }

  .flor img {
    display: none;
  }

  .text {
    margin: 2rem 0;
  }
}

@media (max-width: 480px) {
  .info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .flor {
    display: none;
  }
  .logo {
    max-height: 100px;
  }
  .logo img {
    width: auto;
    height: 150px;
  }
  .line {
    display: none;
  }
  .info .links {
    gap: 1rem;
  }

  .socials {
    gap: 0.5rem;
    margin-top: 1rem;
  }

  .foot {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 2%;
  }
  .text {
    padding-bottom: 0;
  }
}