header {
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  
  box-sizing: border-box; 
  z-index: 1000; 
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 5%;
  height: 90px;
  transition: background-color 0.3s ease;
}


.logo {
  width: 100px;
  height: auto;
  display: block;
  filter: var(--filter-light-pink);
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  gap: 3rem;
  font: var(--f-header);
}

.nav a {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font: var(--f-header);
  color: var(--c-white);
  transition: color 0.3s ease;
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background: var(--c-pink);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.5s ease;
}

.nav a:hover::after {
  transform: scaleX(1);
}

.nav .active {
  color: var(--c-pink);
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.header-flores {
  position: relative;
  margin-bottom: -1rem;
}

.header-flores a {
  color: var(--c-gray);
}

.header-flores .logo {
  filter: var(--filter-pink);
}

.header-flores .hamburger {
  background-color: var(--c-pink);
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
  align-items: center;
  justify-content: center;
}

.hamburger {
  display: block;
  width: 26px;
  height: 2px;
  background: var(--c-light-pink);
  position: relative;
  transition: background 0.3s ease;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 26px;
  height: 2px;
  background: inherit;
  transition:
    transform 0.3s ease,
    top 0.3s ease,
    bottom 0.3s ease;
}

.hamburger::before {
  top: -7px;
}
.hamburger::after {
  bottom: -7px;
}

.hamburger.open {
  background: transparent !important;
}
.hamburger.open::before {
  transform: rotate(45deg);
  top: 0;
  background: var(--c-pink);
}
.hamburger.open::after {
  transform: rotate(-45deg);
  bottom: 0;
  background: var(--c-pink);
}

@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
    position: absolute;
    right: 5%;
    top: 34px;
  }

  .nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0;

    position: fixed;
    top: 0;
    right: 0;
    width: 55%;
    height: 100vh;
    background: var(--c-white);

    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition:
      opacity 0.3s ease,
      transform 0.4s cubic-bezier(0.25, 1, 0.5, 1),
      visibility 0.3s ease;

    box-shadow: var(--shadow);
    padding: 0 0 0rem 2rem;
    z-index: 999;
    overflow-y: auto;
  }

  .nav a {
    font: var(--f-header);
    color: var(--c-gray);
    font-size: 1rem;
    letter-spacing: 1px;
    width: 100%;
    padding: 1rem 2rem 0.5rem 0;
    text-align: left;
    border-bottom: 1px solid var(--c-gray);
  }

  .nav a:hover {
    color: var(--c-pink);
    border-bottom: 1px solid var(--c-pink);
  }

  .nav a::after {
    display: none !important;
  }

  .nav .active {
    color: var(--c-pink);
  }

  .nav.nav-active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
}