<main>
    <div class="info">
        <h1>Floriografia</h1>
        <p>A linguagem codificada da floriografia permitia aos vitorianos expressar afeto,
             desejo ou desprezo, possibilitando que uma sociedade regida por uma etiqueta rígida demonstrasse seus verdadeiros sentimentos. <br><br>

             As flores têm uma longa tradição como meio de expressão emocional. Quando desejamos expressar nosso afeto, alegria ou condolências,
              e as palavras não são suficientes, recorremos à sua beleza. Através da arte da florografia, uma forma de comunicação codificada 
              mais comumente conhecida como a linguagem das flores, a intimidade emocional pôde florescer onde, de outra forma, poderia ser reprimida. <br><br>

            Um dos exemplos mais proeminentes da floriografia recente é a escolha da coroa de flores do Rei Charles para o funeral de sua mãe, a falecida Rainha.
             Preso a uma tradição que preza pela discrição emocional, ele expressou seu sentimento de perda através da escolha das flores: <strong>murta</strong>, símbolo de amor 
             e prosperidade, combinada com <strong>carvalho inglês</strong> , representando a força. Para os leigos, a coroa era apenas um símbolo de luto familiar, seu significado 
             derivado de sua presença, não de sua essência. Foi somente analisando os ramos que a amplitude de suas emoções pôde ser melhor compreendida.
        </p>
    </div>

    <img src="/images/error.png" alt="flor-floriografia">
</main>
