<main>
    <div class="section-name">
        <h1>Como fazer um arranjo</h1>
        <h2>em apenas três passos</h2>
    </div>

    <div class="info">
        <img src="./images/flor-amarela.png" alt="">

        <div class="passos">
            <div class="card">
                <img src="./icons/base.svg" alt="">
                <h1>base</h1>
                <p>Escolha uma flor dominante para causar impacto, como rosas, tulipas, peônias e etc.</p>
            </div>
            <div class="card">
                <img src="./icons/leveza.svg" alt="">
                <h1>leveza</h1>
                <p>Adicione um elemento arejado para criar leveza, como eucaliptos, ramos de oliveira e até mesmo gipsofila.</p>
            </div>
            <div class="card">
                <img src="./icons/textura.svg" alt="">
                <h1>textura</h1>
                <p>Opcional para ter profundidade e trazer interesse, utilizando elementos como camomila, lisianto ou outras folhafgens delicadas.</p>
            </div>
            <div class="card">
                <img src="./icons/dicas.svg" alt="">
                <h1>dicas</h1>
                <p>Use menos hastes, permita que haja espaço negativo, mantenha os arranjos ligeiramente assimetricos e evite misturar muitas cores.</p>
            </div>
        </div>
    </div>
</main>