main {
  width: 100%;
  max-width: 75rem; 
  margin: 0 auto;
}

.section-name {
  padding-bottom: 1rem;
}

.section-name h1 {
  font: var(--f-title);
  text-transform: uppercase;
  color: var(--c-pink);
  margin: 0;
}

.section-name h2 {
  font: var(--f-subtitle);
  color: var(--c-gray);
  text-transform: uppercase;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 4rem;
  width: 100%;
  max-width: 75rem; 
  margin: 0 auto;
  align-items: center;
}

.info img {
  width: 100%;
  max-width: 18rem; 
  height: auto;
  justify-self: center;
}

.passos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
}

.card img {
  width: 2.8125rem; 
  height: 2.8125rem;
  object-fit: contain;
}

.card h1 {
  font: var(--f-subtitle);
  color: var(--c-pink);
  text-transform: uppercase;
  margin: 0 0 0.4rem 0;
}

.card p {
  color: var(--c-gray);
  font: var(--f-main-txt);
  line-height: 1.5;
  margin: 0;
}

@media (max-width: 768px) { 
  .info {
    grid-template-columns: 1fr; 
    gap: 3rem;
  }
  .passos {
    gap: 2rem 4rem;
  }
  .section-name {
    text-align: center; 
  }
  .arranjo {
    max-width: 10px;
  }
}

@media (max-width: 480px) {
  .arranjo img{
    max-width: 8rem;
  }
  .passos {
    grid-template-columns: 1fr; 
    gap: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card {
    align-items: center;
    text-align: center;
    max-width: 250px;
  }
  .card img {
    margin-bottom: 0.5rem;
  }
}
