main {
  width: 100%;
}

.banner-imagem {
  width: 100%;
  min-height: 100vh;

  position: relative; 

  background-image:
    linear-gradient(rgba(55, 10, 10, 0.2), rgba(55, 10, 10, 0.2)),
    url("/images/banner.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: min(750px, 90%);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  text-align: center;
}

.title {
  text-align: center;
  font: var(--f-main-span);
  color: var(--c-white);
}

.text {
  max-width: 600px;
  text-align: center;
  font: var(--f-main-txt);
  color: var(--c-light-pink);
}

.btn {
  padding: var(--p-btn);
  background: var(--c-pink);
  color: var(--c-white);
  border-radius: var(--r-btn);
  font: var(--f-btn);
  cursor: pointer;
}

@media (min-width: 1440px) {
  .info {
    width: 60rem;
  }
  .text {
    min-width: 40rem;
  }
}

@media (max-width: 768px) {
  .banner-imagem {
    background-position: left center;
  }
  header {
    width: 95%;
  }
  .title,
  .text {
    margin: 0 2rem;
  }
}

@media (max-width: 480px) {
  .title {
    font: var(--f-main-span);
  }
}