<main>
    <div class="sobre">
        <div class="img-container">
            <img src="./images/flor-roxa.png" alt="">
        </div>

        <div class="info">
            <h1 class="title">Encontre o que precisa</h1>
            <p class="text">
            Seja bem-vindo ao seu guia definitivo sobre flores. 
            Aquelas nos acompanham nos momentos mais importantes da vida, 
            expressando sentimentos onde as palavras muitas vezes falham. 
            Criamos este espaço para aproximar você da beleza, do cultivo 
            e dos mistérios de cada espécie. Aqui, cada pétala revela uma nova descoberta. 
            </p>
            <div class="btn" routerLink="/flores">
                Explore
            </div>
        </div>
    </div>

    <div class="categorias">
        <div class="card">
            <img src="./icons/curiosidades.svg" alt="">
            <h1>Curiosidades</h1>
            <p>Explore nossa coleção e conheça as particularidades, cores e aromas que tornam cada flor única.</p>
        </div>
        <div class="card">
            <img src="./icons/floriografia.svg" alt="">
            <h1>Floriografia</h1>
            <p>Descubra a linguagem secreta das flores e entenda o que cada espécie comunica quando oferecida como presente.</p>
        </div>
        <div class="card">
            <img src="./icons/cuidados.svg" alt="">
            <h1>Cuidados</h1>
            <p>Aprenda de forma prática como plantar, regar e manter suas plantas saudáveis e vibrantes em qualquer ambiente.</p>
        </div>    
        <div class="card">
            <img src="./icons/estacoes.svg" alt="">
            <h1>Estações</h1>
            <p>Saiba quais variedades florescem em cada época do ano e  descubra qual é a flor oficial do seu mês de nascimento.</p>
        </div>     
    </div>
</main>