<div class="masonry">
  @for (coluna of colunas; track $index) {
    @if (coluna.length > 0) {
      <div class="masonry-column">
        @for (flor of coluna; track flor.id) { 
          <div
            class="masonry-item"
            [routerLink]="['/flores', flor.slug, 'caracteristicas']"
          >
            @if (flor.cores && flor.cores.length > 0) {
              <img
                [src]="flor.cores[0].imagem || flor.cores[0].imgSemFundo"
                [alt]="flor.nome"
              />
            }

            <div class="masonry-overlay">
              <div class="overlay-text">
                <h3>{{ flor.nome }}</h3>
                <p>{{ flor.nomeCientifico }}</p>
              </div>
              <button class="overlay-btn">Ver Detalhes</button>
            </div>
          </div>
        }
      </div>
    }
  }
</div>

<div class="no-results" *ngIf="listaFlores.length === 0">
  <div class="erro-mensagem">
    <img src="./images/error.png" alt="" />
    <h1>Flor não encontrada no catálogo.</h1>
    <p>
      Que tal tentar buscar por outra espécie ou conferir se a grafia está
      correta?
    </p>
  </div>
</div>