@if (florDados) {
  <main class="detalhes-container">
    <div class="detalhes-text">
      <h1>{{ florDados.nome }}</h1>
      <p class="cientifico">
        <i>{{ florDados.nomeCientifico }}</i>
      </p>

      <div class="resume">
        <p class="exibir-texto">{{ texto }}</p>
      </div>

      <div class="botoes">
        <button class="btn-rosa" (click)="navegarPara(btn1)">{{ btn1 }}</button>
        <button class="bnt-claro" (click)="navegarPara(btn2)">{{ btn2 }}</button>
      </div>
    </div>

    <div class="detalhes-foto">
      <img
        [src]="florDados.cores[0].imgSemFundo"
        [alt]="florDados.nome"
        class="foto-detalhe"
      />
    </div>
  </main>
} @else {
  <div class="erro-mensagem">
    <img src="./images/error.png" alt="">
    <h1>Flor não encontrada no catálogo.</h1>
    <p>Que tal tentar buscar por outra espécie ou conferir se a grafia está correta?</p>
    <button class="btn-rosa" routerLink="/flores">Explore nosso Catálogo</button>
  </div>
}
