.detalhes-container { 
  width: 100%; 
  margin: 0 auto; 
  display: grid; 
  grid-template-columns: 65% 1fr; 
  height: 92vh; 
  padding: 0 4rem; 
  gap: 2rem; 
  align-items: center; 
} 

.detalhes-text { 
  position: relative; 
  display: flex; 
  flex-direction: column; 
  height: auto; 
} 

.detalhes-foto { 
  display: flex; 
  align-self: end; 
  justify-self: end; 
} 

.detalhes-foto img { 
  display: flex; 
  width: fit-content; 
  max-height: 35rem; 
} 

.detalhes-text h1 { 
  font: var(--f-title); 
  text-transform: uppercase; 
  color: var(--c-pink); 
} 

.detalhes-text .cientifico { 
  font: var(--f-subtitle); 
  text-transform: uppercase; 
  color: var(--c-gray); 
} 

.resume p { 
  margin: .5rem 0; 
  font: var(--f-main-txt); 
  color: var(--c-gray); 
  text-align: justify; 
} 

.exibir-texto { 
  white-space: pre-line; 
} 

strong { 
  color: var(--c-pink); 
} 

.botoes { 
  display: flex; 
  align-items: center; 
  gap: 1rem; 
} 

button { 
  margin-top: 1rem; 
  padding: var(--p-group-btn); 
  border-radius: var(--r-btn); 
  font: var(--f-btn); 
  cursor: pointer; 
  width: fit-content; 
  border: 1.5px solid var(--c-pink); 
} 

.btn-rosa { 
  background: var(--c-pink); 
  color: var(--c-white); 
} 

.bnt-claro { 
  color: var(--c-pink); 
  background-color: var(--c-white); 
} 

.erro-mensagem { 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  text-align: center; 
  padding: 3rem; 
  width: 100%; 
} 

.erro-mensagem img { 
  width: 150px; 
  height: auto; 
} 

.erro-mensagem h1 { 
  color: var(--c-pink); 
  font: var(--f-subtitle); 
} 

.erro-mensagem p { 
  color: var(--c-gray); 
  font: var(--f-main-txt); 
} 

@media (min-width: 1440px) { 
  .detalhes-container {
    grid-template-columns: 50% 50%;
    padding: 0 8rem;
  }

  .detalhes-foto img { 
    min-height: 50rem; 
    height: auto; 
  } 
}

@media (max-width: 768px) {
  .detalhes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .detalhes-foto {
    align-self: center;
    justify-self: flex-end;
    margin-top: 2rem;
  }

  .detalhes-foto img {
    width: auto;
    height: 25rem;
  }
}

@media (max-width: 500px) {
  .detalhes-container {
    padding: 0 1rem;
  }
  .botoes {
    align-self: center;
  }
}