@import url("https://googleapis.com");

:root {
  /* #FONT BASE */
  --mainFont: "Poppins", sans-serif;

  /* #FONT */
  --f-main-span: 700 46px/1.4 var(--mainFont);
  --f-second-span: 500 40px/1.4 var(--mainFont);
  --f-title: 700 36px/1.3 var(--mainFont);
  --f-subtitle: 500 20px/1.3 var(--mainFont);
  --f-header-span: 600 16px/1.2 var(--mainFont);
  --f-main-txt: 400 16px/1.5 var(--mainFont);
  --f-btn: 500 16px/1.2 var(--mainFont);

  /* #COLORS */
  --c-pink: #e58a85;
  --c-light-pink: #f7d8d7;
  --c-gray: #a9a9a9;
  --c-black: #0c0b0b;
  --c-white: #ffffff;

  /* #PADDING */
  --p-btn: 10px 16px;

  /* #RADIUS */
  --r-btn: 3px;
  --r-card: 10px;
  --r-img: 15px;

  /* #FILTER */
  --filter-pink: invert(65%) sepia(41%) saturate(547%) hue-rotate(313deg)
    brightness(94%) contrast(91%);

  --filter-light-pink: invert(93%) sepia(21%) saturate(415%) hue-rotate(311deg)
    brightness(101%) contrast(94%);

  /* #OUTROS */
  --sombra: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--mainFont);
}
