@import url("https://googleapis.com");

:root {
  /* #FONT BASE */
  --mainFont: "Poppins", sans-serif;

  --fs-main-span: clamp(2rem, 1.45rem + 2.4vw, 3.125rem);
  --fs-title: clamp(1.375rem, 1.01rem + 1.6vw, 2.125rem);
  --fs-subtitle: clamp(0.875rem, 0.75rem + 0.5vw, 1.125rem);
  --fs-header: clamp(0.8rem, 0.76rem + 0.16vw, 0.875rem);
  --fs-main-txt: clamp(0.7825rem, 0.74rem + 0.2vw, 0.875rem);
  --fs-btn: clamp(0.775rem, 0.67rem + 0.48vw, 1rem);
  --fs-filter: clamp(0.8rem, 0.76rem + 0.16vw, 0.875rem);
  --fs-numb: clamp(1.125rem, 0.94rem + 0.8vw, 1.5rem);
  --fs-footer: clamp(0.7rem, 0.68rem + 0.1vw, 0.75rem);

  --f-main-span: 600 var(--fs-main-span) var(--mainFont);
  --f-title: 600 var(--fs-title) var(--mainFont);
  --f-subtitle: 600 var(--fs-subtitle) var(--mainFont);
  --f-header: 500 var(--fs-header) var(--mainFont);
  --f-main-txt: 400 var(--fs-main-txt)/1.4 var(--mainFont);
  --f-btn: 500 var(--fs-btn) var(--mainFont);
  --f-filter: 500 var(--fs-filter) var(--mainFont);
  --f-numb: 600 var(--fs-numb) var(--mainFont);
  --f-footer: 400 var(--fs-footer) var(--mainFont);

  /* #COLORS */
  --c-pink: rgb(229, 138, 133);
  --c-light-pink: rgb(247, 216, 215);
  --c-gray: rgb(169, 169, 169);
  --c-black: rgb(12, 11, 11);
  --c-white: rgb(255, 255, 255);

  /* #PADDING */
  --p-btn: 0.65rem 1.8rem;
  --p-filter: 0.6rem 0.6rem;
  --p-group-btn: 8px 1.625rem;

  /* #RADIUS */
  --r-btn: 3px;
  --r-card: 0.625rem;
  --r-img: 0.625rem;

  /* #FILTER */
  --filter-pink: invert(65%) sepia(41%) saturate(547%) hue-rotate(313deg)
    brightness(94%) contrast(91%);
  --filter-light-pink: invert(93%) sepia(21%) saturate(415%) hue-rotate(311deg)
    brightness(101%) contrast(94%);

  /* #OUTROS */
  --shadow: rgba(229, 138, 133, 0.15) 0px 2px 8px 0px;
  --second-shadow: rgba(229, 138, 133, 0.2) 0px 8px 24px;
  --sb-track-color: #232e33;
  --sb-thumb-color: #6baf8d;
  --sb-size: 0.875rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  font-family: var(--mainFont);
  overflow-x: clip;
  position: relative;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: none;
}

body.no-scroll {
  overflow-y: hidden;
}